body{
    margin: 0px;
    background: #ffffff;
}
/*这是页头*/
.header-top{
    font-size: 15px;
    background: #1d7ad9;
}
.iphone{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: white;
}

.header-top-right{
    display: flex;
    margin: 0  ;
    height: 40px;
    align-items: center;
     font-size: 12px;

}
.register{

    height: 40px;
    padding: 10px 10px;
    border-left: 1px solid white;
}
.sign{
    height: 40px;
    padding: 10px 10px;
    border-right: 1px solid white;

}
.register:hover {
    width: 70px;
    text-align: -webkit-center;
    color: black;
    background: white;
}
.sign:hover {
    width: 70px;
    text-align: -webkit-center;
    color: black;
    background: white;

}
/*以上是顶部*/
/*以下是导航栏*/
button{
    outline: none!important;
}
.nav-link{

    padding: .5rem.5rem ;
    color: white;
}
ul>li>a{
    color: black!important;
    text-decoration: none ;
}
.navbar-toggler{
    margin: 5px 0;
}
.nav-item {
    border: 1px solid #e6e6e6;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;}
@media (max-width: 992px)
{.nav-item {
    margin-left: 0;
  }

}
.collapse {
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.nav-item:hover {
    text-decoration: none;
    color: white!important;
    background: #1d7ad9;
}
.navbar-nav {
    text-align: center;
}
.main{
    color: #bfbfc1;
}
.step{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;

}
.style{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

}
.style-left{
    width: 50px;
    height: 5px;
    background: #ccc;
}
.style-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: white;
    background:#ccc ;
    border-radius: 50%;
}
.style-right{
    width: 50px;
    height: 5px;
    background: #ccc;

}
.style-text{
    margin: 24px 0;
    text-align: center;
    color: #ccc;
}
/*以下是hover效果*/
.main-box:hover .style-left {
    background:#ff7f02;}
.main-box:hover .style-mid{
    background:#ff7f02;}
.main-box:hover .style-right{
    background:#ff7f02;}
.main-box:hover .style-text {
    color: #ff7f02;
}
/*以上是hover效果*/
/*以上main-top主体*/
/*以下main-2主体*/
.explain-tip{
    color: #333333;
    margin-bottom: 0;
    border-left: 2px solid #1d7ad9;
}
/*以上main-2主体*/
/*以下main-3主体*/
.type{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #1d7ad9;
    border: 1px solid #e8e8e8;
    background-color: #f3f3f3;
}
.type-img{
    margin: 0 9px;
height: 19px;
    width: 15px;
}
.kind {
    margin: 0;
    border: 1px solid #e8e8e8;
    background-color: #fbfcff;
}
/*以下公共样式input*/
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 1.1em;
    height: 1.1em;
    margin-right: .4em;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #ced4da;;
    text-indent: .15em;
    line-height: 1;
}
/*以下更改样式*/
input[type="radio"]:checked + label::before {
    border: 5px solid #1d7ad9;
    background-clip: content-box;
    padding: .2em;
    background-color:white;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px ;
}
.select{
    width:108px;
    height: 41px;
    padding-left: 10px;
    font-size: 14px;
    color: #bfbfc1;
    background: url("../img/m6-icon.png")no-repeat;
    background-position: 98% 43%;
    -webkit-appearance: none;
}
/*以上main-mid*/
/*以下main-content*/
.size{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #1d7ad9;
    background-color: #f3f3f3;
    border: 1px solid #e8e8e8;
}
.size-img {
    margin: 0 9px;
    height: 22px;
    width: 20px;
}
.diameter{
    margin: 0;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    background-color: #fbfcff;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 ;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px ;

}
.input{
    height: 30px;
    width: 60px;
    outline: none;
}
.length{
    margin: 5px;
}
.millimeter{
    margin-left: 5px;
}
.inner{
    margin: 0;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    background-color: #fbfcff;
}
.inside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px ;
}
.select-position{
    display: flex;
    top: -21px;
    align-items: center;
    justify-content: center;
    position: relative;

}
.select-1{
    width:108px;
    height: 41px;
    padding-left: 10px;
    font-size: 14px;
    color: #bfbfc1;
    background: url("../img/m6-icon.png")no-repeat;
    background-position: 98% 44%;;
    -webkit-appearance: none;
}
@media (max-width: 992px){
    .select-1 {
        margin: 24px 0;
    }
}
/*以上是main-content*/
/*以下是plies主体*/
.texture{ display: flex;
    align-items: center;
    font-size: 19px;
    color: #1d7ad9;
    background-color: #f3f3f3;
    border: 1px solid #e8e8e8;
}
.texture-img{
    margin: 0 9px;
    height:20px;
    width:15px;
}
.plies{
    margin: 0;
    padding: 30px 0;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fbfcff;
}
.main-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
/*以上是plies主体*/
/*以下是main-footer主体*/
/*.main-6box{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    width: 230px;
    height: 61px;
    font-size: 20px;
    color: white;
    background: #e15053;
    border-radius: 14px;
}
.footer-type{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
a{
    text-decoration: none !important;
}
/*以上主体结束*/
/*以下底部*/
.footer{
    display: flex;
    color: #999;
}
.footer-top{
    margin: 4rem 0 1rem;
}
.footer-right{
    display: flex;
    justify-content: flex-end;
}
.footer-mid{
    margin-bottom: 10px;
}
.footer-mid-text{
    margin-right: 10px
}
@media (max-width: 991px) {
    .footer-right {
        display: block;
        margin: 0;
    }
}
.footer-text{
    margin: 5px 0px;
}
.footer-bottom{
    background: #1d7ad9;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    font-size: 11px;
    color: white;
}
/*以下是hover 效果*/
.footer-mid-text:hover{
    color: #3985db;
}

