body{
    margin: 0;
    background: #ffffff;
    bottom: 0px;
}
/*以下是顶部图片*/
.header{
    height: 30px;
    color: #29b078;
    font-size: 12px;
}
.header-left{
    display: flex;
    height: 30px;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 15px;
}
.header-img{
    width: 20px;
    height: 21px;
}
.header-right{
    display: none;
}
@media (max-width: 992px){
    .header-left {display: none;
    }
    .header-right{
        display: flex;
        height: 30px;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }  }
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: #29b078;
    font-size: 12px;
}
.header-img{
    width: 20px;
    height: 21px;
}
.nav{
    background: #29b078;
    width: 100%;
}
.nav-link{color: white;
    padding: 0.7rem 0rem 0.7rem 1rem;
}
ul>li>a{
    color: white!important;
    text-decoration: none ;
}

.nav-item {
    border-bottom: 3px solid #29b078;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    line-height: 44px;
}
.collapse {
    text-align: center;
}
.navbar-toggler{
    margin: 10px 0;}
.navbar{
    padding: 0;
}
button{
    outline: none!important;
}
.nav-item:hover {
    text-decoration: none;
    border-bottom: 3px solid white;
    color: white;
}
.header-1{
    background-color: #29b078;}
.header-1-img{
    width:180px;
}
.header-2-img{
    height: 100%;
    width: 100%;
}
.navbar-nav{
    text-align: center;
}
.menu{
    padding: 10px 0;
    font-size: 14px;

}
.menu-1{
    color: black;
}
.menu-2{
  color: #29b078;
}
.enterprise{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border: 1px solid #eeeded;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.name{
    height: 590px;
    border: 1px solid #eeeded;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
ul{
    padding: 0;
    list-style: none
}
.main-left{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #f9a372;;
    margin:5px;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: #74c5a0;
}
.main-img{
    width: 134px;
}

.content-right{
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main-1{
    color: #a0a0a0;
    padding: 20px 28px 0 28px;
    font-size: 12px;
     }
.third{
    color: #a0a0a0;
    padding: 20px 28px 60px 28px;
    font-size: 12px;
}
li:hover{
    color: #f9a372;;
}
li:hover .main-left{
    background: #f9a372;;
}
@media (max-width: 980px){
   .main-right{
        text-align: center;
        border: 1px solid #e6e6e6;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;

    }
}
@media (min-width: 980px){
    .main-right{
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #e6e6e6;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }
}

.footer-2-mid:hover { border-bottom:1px solid white ;}

.bg{
    margin-top: 40px;
    background: #26a26f;
    bottom: 0px;
}
.footer-3{
    padding: 10px 0px;
    opacity: 0;
    margin: 0;
}
.footer-2{
    padding-top: 35px;
    color: white;
    font-size: 14px;
}
.footer-4{
    width: 115px;
    border-bottom: 1px solid red;
    color: white;}
.footer-1-mid{
    margin: 10px 0px;
}
.footer-mid{
    color: white;
    border-bottom:1px solid #26a26f;

}
a {text-decoration: NONE !important;}

.a{
    color: white;
    text-decoration: none;
}
.footer-img{
    width: 84px;
    padding-bottom: 10px;
}
.footer-2-mid{
    color: white;
    border-bottom: 1px solid #26a26f;
}
.footer-2P{
    margin: 0;

}
.ys-1{opacity: 1}
.footer-2-right{text-align: center;
    color: white;
    font-size: 10px;
    border-top: 1px solid #32c086;
    margin: 0;}
@media (min-width: 1200px) {
    .footer-img-1 {
        float: right;
    }}