
$color:#5fc0cd;
@mixin flex{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}
@mixin center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin position{
  margin: auto;
  min-width: 320px;
  max-width: 780px;
}
@mixin span{
  text-align: center;
  line-height: 34px;
  width: 100px;
  border-radius: 5px;
}
body {
  @include position;
  background-size: 100%;
  border-bottom: 78px solid;


  header {
    justify-content: center;
    @include flex;
    @include position;
    top: 0;
    height: 3rem;
    background: $color;

    .header-left {
      @include span;
      border: 1px solid #55a8b3;
      color: white;
      background: #55a8b3;
    }

    .header-mid {
      @include span;
      margin-left: -5px;
      color: #5fc0cd;
      background: #ffffff;
      border: 1px solid white;
    }

    img {
      position: absolute;
      right: 20px;
      height: 20px;
      width: 19px;
    }
  }

  //.header-bottom {
  //  display: flex;
  //  justify-content: space-around;
  //  align-items: center;
  //  height: 35px;
  //  font-size: 12px;
  //  border-bottom: 1px solid #e1e5e7;
  //}
  main {
    .content {
      @include center;
      padding-top: 50px;
      height: 42px;
      font-size: 12px;
      border-bottom: 1px solid #e1e5e7;

      .a{
        border-right: none!important;
      }

      span {
        @include center;
        width: 100%;
        border-right: 1px solid #e1e5e7;

        ul {
          display: none;
          list-style: none;
          position: absolute;
          padding: 0;
          margin: 65px 1px 0 0;
          text-align: center;
          line-height: 29px;
          height: 85px;
          width: 33.33%;
          max-width: 260px;
          background-color: white;
          box-shadow: 2px 4px 20px 5px #5595b373;
        }

        &:hover ul {
          display: block;
        }
      }

      img {
        padding-left: 24px;
        height: 8px;
        width: 10px;
      }
    }

    .tip {
      border-bottom: 1px solid #e1e5e7;
      .time {
        display: flex;
        align-items: center;
        padding: 13px 16px 0px 10px;
        font-size: 13px;
        img {
          height: 17px;
          width: 17px;
          margin: 0 10px;
        }
      }

      //span {
      //  line-height: 30px;
      //  height: 30px;
      //}
      p {
        padding-left: 17px;
        display: inline;
        font-size: 14px;
      }

      .right{float: right;
        color: red;

        img {
          display: inline;
          height: 15px;
          width: 12px;
          padding-right: 5px;
        }
      }
      .site {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        font-size: 13px;
         img {
        padding-left: 10px;
        margin: 0 10px;
        height: 15px;
        width: 13px
      }
      }


      //.border {
      //  border-bottom: 1px solid #e1e5e7;
      //}
    }
  }

  footer {
    justify-content: space-around;
    @include flex;
    @include position;
    bottom: 0;
    background: white;
    border-top: 1px solid #e1e5e7;
    text-align: -webkit-center;

    a{
      text-decoration: none;
    }
    img {
      height: 50%;
      width: 50%
    }

   span{
      display: block;
      font-size: 12px;
      color: #5fc0cd
    }

    .footer-mid {
      padding-top: 5px;
      height: 70px;
      width: 70px;
    }

    p {
      margin: 0;
      font-size: 12px;
      color: #9f9f9f;
    }
  }
}