body{margin: 0;
    background: #eff0f4;
}
.header{
    height: 6rem;
    width: 100%;
    background: #5fc0cd;}
.header-left{
    position: absolute;
    padding-top: 38px;
    left: 20px;
    color: white;
    font-size: 16px;}
 .header-mid{
     position: absolute;
     top: 38px;
     left: 47%;
     color: white;
     font-size: 16px;}
 .header-right{
     position: absolute;
     top: 38px;
     color: white;
     font-size: 16px;
     right: 2%;}
 .img-iphone{
     margin-top: 16px;
     padding-left: 20px;
     padding-top: 8px;
     height: 52px;
    background:  white;}
 .img-iphone-number{
     margin-top: 9px;
 }
 .input-number{
     outline: none;
     border: none;
     width: 80%;
     height: 32px;
     margin-left: 70px;
     border-left: 2px solid #eaedee;
     padding-top: 4px;
    }
.img-key{
    margin-top: 16px;
    padding-left: 20px;
    padding-top: 8px;
    height: 52px;
    background:  white;}
.img-key-number{margin-top: 9px;}

.input-key{outline: none;
    border: none;
    padding-top: 4px;
    width: 80%;
    height: 30px;
    margin-left: 70px;
    border-left: 2px solid #eaedee;
}
.Sign-in{
    background: #5fc0cd;
    height: 64px;
    width: 100%;
    text-align: center;
    line-height: 64px;
    color: white;
    margin-top: 50px;
    font-size: 20px;
}
.Forget-pass{
    float: right;
    color: #5fc0cd;
    margin-right: 20px;
    margin-top: 17px;
}