 body{margin: 0;
      background: #68cdd5;}
 .a1{
     margin-top: 10px;
     margin-left:10px;
 }
  .a2{
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
      margin-top: 32px;
  }
  .a3{
         margin-right: 20px;
         margin-left:20px ;
         text-align: center;
         font-size: 21px;
         color: white;
      margin-top: 90px;
     }
  .a4{
      text-align: center;
      color: white;
      margin-left:55px;
      margin-top:310px;
      float: left;
  }
  .a5 {
      text-align: center;
      color:white;
      margin-top:310px;
      margin-right: 55px;
      float: right;
  }