 body{margin: 0;
      background: #68cdd5;}
 .header-img{
     margin-top: 10px;
     margin-left:10px;
 }
  .img-logo{
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
      margin-top: 32px;
  }
  .content{
         margin-right: 20px;
         margin-left:20px ;
         text-align: center;
         font-size: 21px;
         color: white;
      margin-top: 90px;
      padding-bottom: 110px;
     }
  .footer-img-left{
      text-align: center;
      color: white;
      margin-left:55px;

      float: left;
  }
  .footer-img-right {
      text-align: center;
      color:white;
      margin-right: 55px;
      float: right;
  }