body{margin: 0;
    background: #eff0f4;
}
.header{
    height: 6rem;
    width: 100%;
    background: #5fc0cd;}
.header-left{
    position: absolute;
    padding-top: 38px;
    left: 20px;
    color: white;
    font-size: 16px;}
 .header-mid{
     position: absolute;
     top: 38px;
     left: 47%;
     color: white;
     font-size: 16px;}
 .header-right{
     position: absolute;
     top: 38px;
     color: white;
     font-size: 16px;
     right: 2%;}
 .img-iphone{
    background:  white;
     padding: 15px 0px}
 .img-iphone-number{
     vertical-align: middle;
     padding: 0 10px 0 14px;
     height:27px;width:16px;
 }
 .input-number{
     outline: none;
     border: none;
     border-left: 2px solid #eaedee;
    }
.img-key{
    padding: 15px 0px;
    background:  white;
    margin-top: 9px;}
.img-key-number{
    vertical-align: middle;
    padding: 0 10px 0 14px;
    height:27px; width: 16px;
}

.input-key{outline: none;
    border: none;
    border-left: 2px solid #eaedee;
}
.Sign-in{
    background: #5fc0cd;
    height: 64px;
    text-align: center;
    line-height: 64px;
    color: white;
    margin-top: 50px;
    font-size: 20px;
}
.Forget-pass{
    float: right;
    color: #5fc0cd;
    margin-right: 20px;
    margin-top: 17px;
}