body{
    margin: 0;
    background: #f0f0f0;
    background-size: 100%;
}
.header{
    height: 46px;
    line-height: 46px;
    width: 100%;
    background: #29bde0;
}
.header-img{
    padding-left: 10px;
    width: 20px;
}
.content-top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c9c9c9;
    height: 70px;
    background: white;
    margin: 20px;
    border: 1px solid #c9c9c9;
}
.top-img{
    position: absolute;
    right: 43px;
    width: 11px;
    height: 20px;
}
.content-mid{
    text-align:-webkit-center;
    margin: 0 20px;
    border: 1px solid#c9c9c9;
    background: white;
}
.top{ display: block;
    line-height: 44px;
    height: 44px;
    border-bottom: 1px solid #fbb435;
    color: #fbb435;}
.simplify{
    line-height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    height: 90px;
    color: white;
    font-size: 19px;
    background: #69d1e9;
}
.simplify1{
    color: white;
    text-decoration: none;
    }
.color{
    color: #919191;
    margin: 0px;
}
.content-img{
    position: absolute;
    right: 7%;
    margin-top: 26px;
    height: 44px;
    width: 25px}
.footer-img{display: flex;
    justify-content: center;
    padding-bottom: 5px;
 }
.footer{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;
   background: #f0f0f0;
}
.footer:hover {
    background:#69d1e9;
}