


.box{
   width: 100px;
   height: 100px;
   margin: 20px;
   text-align: center;
   line-height: 100px;
   background: pink;
 }
.button{
  height: 100px;
  width: 100px;
  margin: 20px;
  background: #3e8e41;
}